# editor
.vscode

# python
**/.venv
__pycache__

# node
node_modules

# remove server env stuff (would like to just use process, but can't access api key's in the debugging process without loading them from .env)
packages/trading-bot/server/.env